<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>

<p>
    Welcome to ActionVerse Toys – the ultimate destination for custom action figures! We design and build collectible figures using interchangeable parts like arms, legs, heads, and accessories.
    Our store is perfect for collectors, hobbyists, and kids who love to mix, match, and build their own heroes and villains.
</p>

<a href="http://localhost:8080/">Link to Main Screen</a>
</body>
</html>